/* 设置覆盖原主题中的常量 */
:root {
  --card-box-shadow: 0 3px 10px 6px rgba(7, 17, 27, 0.07);
  --card-hover-box-shadow: 0 3px 10px 6px rgba(7, 17, 27, 0.12);
}

/* 文章页H1-H6图标样式效果 */

/* 设置颜色 */
#content-inner.layout h1::before {
  color: #4b2e2b;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #82111f;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #fca106;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #1a6840;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #22a2c3;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}
#content-inner.layout h6::before {
  color: #ef3473;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 1.6s linear infinite;
  animation: ccc 1.6s linear infinite;
}
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

/* 设置图标及标题hover效果 */
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: #49b1f5;
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: #49b1f5;
  -webkit-animation: ccc 3.2s linear infinite;
  animation: ccc 3.2s linear infinite;
}

/* 设置背景颜色 */
/* #web_bg {
  background: var(--card-bg) !important;
} */

/* 图片下的题注文字居中 */
.jg-caption {
  text-align: center !important;
}

/* 题注前增加图标 */
.jg-caption-visible::before {
  content: "► ";
}
.fancybox-caption__body::before {
  content: "► ";
}
.img-alt.is-center::before {
  content: "► ";
}

/* 设置首页文章封面块 */
/* 设置宽度 */
@media screen and (min-width: 769px) {
  div.recent-post-item {
    height: 14em !important;
  }
}
@media screen and (max-width: 768px) {
  div.recent-post-item {
    height: 25em;
  }
}

/* 设置标题字体大小 */
#recent-posts > .recent-post-item > .recent-post-info > .article-title {
  font-size: 1.8 em;
  font-weight: bold;
}
#recent-posts > .recent-post-item:hover > .recent-post-info > .article-title {
  font-size: 1.9 em;
  font-weight: bold;
}
/* 设置摘要显示:
    1. 未选中时不显示，
    2. 选中时缓慢出现
*/
#recent-posts > .recent-post-item > .recent-post-info > .content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
/* #recent-posts > .recent-post-item:hover {
  transition: width 1s, height 1s;
} */
#recent-posts > .recent-post-item:hover > .recent-post-info > .content {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

/* 页脚居左排版 */
#footer-wrap {
  text-align: left;
}

/* 页脚div不换行 */
#footer-wrap div {
  display: inline-block;
  margin: 0 0 0 0.1em;
}
/* 在版权信息和自定义文本之间插入一颗心 */
div.copyright::after {
  content: "☺";
  padding-left: 0.25em;
}
/* 页脚自定义文本样式 */
div.footer_custom_text {
  padding-left: 0.2em;
  font-style: italic; /* 斜体 */
  text-shadow: 0.15em 0.15em rgba(249, 241, 219, 0.4);
}

/* 首页头图和背景由模糊变清晰 */
/*1s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#page-header,
#web_bg {
  -webkit-animation: imgblur 1s 1 ease-in-out;
  animation: imgblur 1s 1 ease-in-out;
}
@keyframes imgblur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

/*iconfont默认样式*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* POST页copyright设置 */
.post-copyright {
  background-color: rgb(204, 204, 186, 0.5);
  border-radius: 1.5em;
  box-shadow: 0.1em 0.5em 0.5em rgb(189, 192, 186);
}

.post-copyright:hover {
  box-shadow: 0.1em 0.1em 2em rgb(189, 192, 186, 0.95);
}

#post .post-copyright .post-copyright-meta {
  color: #5e616d;
}

.post-copyright a {
  color: #144a74;
}

.post-copyright a:hover {
  color: #22a2c3;
  text-decoration: underline;
}

.post-copyright a:visited {
  color: #541e24;
  text-decoration: underline;
}

#post .post-copyright:before {
  color: #5e616d;
}

/* 相关推荐 */
.relatedPosts > .relatedPosts-list > div {
  border-radius: 1.5em;
  height: 12em;
  background: rgb(0, 0, 0, 0.8);
}
